.red{
  color: red;
}

body {
  margin : 0;
  background-color: #303030;
  color : white
}
 
.title {
  text-align: center;
  margin-top: 150px;
}
.title-sub {
  text-align: center;
}


.food {
  margin: 20px auto;
  width: 200px;
  background: white;
  color: black;
  padding: 20px;
  border-radius: 5px;
} 

.navbar {
  background: rgb(172, 220, 226);
  padding: 20px;
}
.navbar a {
  margin-right: 20px;
  text-decoration: none;
} 

.food-img {
  width: 100%;
  height: auto;
} 


.cart-item {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid grey;
  line-height: 0px;
} 


.custom-cart-item {
  color: rgb(213, 233, 216);
}